

<div class="modal fade " id="fullwindowModal" tabindex="-1" role="dialog" aria-labelledby="fullwindowModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg mt-0 mb-0 modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">STUDENT REGISTRATION FORM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="forms-sample">
                        Student Information: 
                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">First name</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="First name">
                                </div>
                            </div>
                            
                            <div class=" col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Last name</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Last name">
                                </div>
                            </div>
                         
                        </div>
                        <div class="row">
                            
                            <div class="col-sm-6 form-group ">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Gender</label>
                                <div class="col-sm-12 form-radio">
                                    <div class="radio radiofill radio-success radio-inline">
                                        <label>
                                            <input type="radio" name="radio" checked="checked">
                                            <i class="helper"></i>Male
                                        </label>
                                    </div>
                                    <div class="radio radiofill radio-info radio-inline">
                                        <label>
                                            <input type="radio" name="radio" checked="checked">
                                            <i class="helper"></i>Fe-male
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class=" col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Date of birth</label>
                                <div class="col-sm-12">
                                    <input id="dropper-animation" class="form-control" type="text" placeholder="Date of birth" />
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Mobile number</label>
                                <div class="col-sm-12">
                                    <input type="phone" class="form-control" id="exampleInputUsername2" placeholder="Mobile number">
                                    <i class="helper"></i>
                                </div>
                            </div>
                            
                            <div class=" col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Email address</label>
                                <div class="col-sm-12">
                                    <input type="email" class="form-control" id="exampleInputUsername2" placeholder="Email address">
                                </div>
                            </div>
                         
                        </div>

                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Address line 1</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Address line 1">
                                    <i class="helper"></i>
                                </div>
                            </div>
                            
                            <div class=" col-sm-6 form-group">
                                <label for="exampleInputUsername2" class="col-sm-12 col-form-label">Address line 1</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Address line 2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="col-sm-12 col-form-label" for="">Country</label>
                                <div class="col-sm-12">
                                    <select class="form-control select2">
                                        <option value="cheese">Cheese</option>
                                        <option value="tomatoes">Tomatoes</option>
                                        <option value="mozarella">Mozzarella</option>
                                        <option value="mushrooms">Mushrooms</option>
                                        <option value="pepperoni">Pepperoni</option>
                                        <option value="onions">Onions</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="col-sm-12 col-form-label"  for="">State</label>
                                <div class="col-sm-12">
                                    <select class="form-control select2">
                                        <option value="cheese">Cheese</option>
                                        <option value="tomatoes">Tomatoes</option>
                                        <option value="mozarella">Mozzarella</option>
                                        <option value="mushrooms">Mushrooms</option>
                                        <option value="pepperoni">Pepperoni</option>
                                        <option value="onions">Onions</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="col-sm-12 col-form-label"  for="">City</label>
                                <div class="col-sm-12">
                                    <select class="form-control select2">
                                        <option value="cheese">Cheese</option>
                                        <option value="tomatoes">Tomatoes</option>
                                        <option value="mozarella">Mozzarella</option>
                                        <option value="mushrooms">Mushrooms</option>
                                        <option value="pepperoni">Pepperoni</option>
                                        <option value="onions">Onions</option>
                                    </select>
                                </div>
                            </div>
                           
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Save changes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="page-header card card-body">
            <div class="row align-items-end ">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-edit bg-blue"></i>
                        <div class="d-inline">
                            <h5>Student Registration</h5>
                            <span>Student registration infromation for student</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="studentregistration">Student</a></li>
                            <li class="breadcrumb-item active" aria-current="studentregistration">Registration</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-md-8" style="justify-content: flex-justify; text-align: justify; font-size: larger; "> <i class="ik ik-edit bg-blue"></i>Student Registration</div>
                            <div class="col-md-4" style="justify-content: flex-end; text-align: end;">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullwindowModal">Add</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="data_table" class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th class="nosort">Avatar</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th class="nosort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>001</td>
                                        <td><img src="assets/img/users/1.jpg" class="table-user-thumb" alt=""></td>
                                        <td>Erich Heaney</td>
                                        <td>erich@example.com</td>
                                        <td>
                                            <div class="table-actions">
                                                <a href="#"><i class="ik ik-eye"></i></a>
                                                <a href="#"><i class="ik ik-edit-2"></i></a>
                                                <a href="#"><i class="ik ik-trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>002</td>
                                        <td><img src="assets/img/users/2.jpg" class="table-user-thumb" alt=""></td>
                                        <td>Abraham Douglas</td>
                                        <td>jgraham@example.com</td>
                                        <td>
                                            <div class="table-actions">
                                                <a href="#"><i class="ik ik-eye"></i></a>
                                                <a href="#"><i class="ik ik-edit-2"></i></a>
                                                <a href="#"><i class="ik ik-trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>003</td>
                                        <td><img src="assets/img/users/3.jpg" class="table-user-thumb" alt=""></td>
                                        <td>Roderick Simonis</td>
                                        <td>grant.simonis@example.com</td>
                                        <td>
                                            <div class="table-actions">
                                                <a href="#"><i class="ik ik-eye"></i></a>
                                                <a href="#"><i class="ik ik-edit-2"></i></a>
                                                <a href="#"><i class="ik ik-trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>004</td>
                                        <td><img src="assets/img/users/4.jpg" class="table-user-thumb" alt=""></td>
                                        <td>Christopher Henry</td>
                                        <td>henry.chris@example.com</td>
                                        <td>
                                            <div class="table-actions">
                                                <a href="#"><i class="ik ik-eye"></i></a>
                                                <a href="#"><i class="ik ik-edit-2"></i></a>
                                                <a href="#"><i class="ik ik-trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>005</td>
                                        <td><img src="assets/img/users/5.jpg" class="table-user-thumb" alt=""></td>
                                        <td>Sonia Wilkinson</td>
                                        <td>boyle.aglea@example.com</td>
                                        <td>
                                            <div class="table-actions">
                                                <a href="#"><i class="ik ik-eye"></i></a>
                                                <a href="#"><i class="ik ik-edit-2"></i></a>
                                                <a href="#"><i class="ik ik-trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    </div>
</div>
